#header-nav {
	background-color: red;
	border-radius: 0;
	border: 0;
}
.navbar-brand h1 {
	font-weight: bold;
	margin-top: 0;
	color: orange;

}
h1 {
	font-size: 20px;
}
.navbar-toggle {
	border: 0;
}
#nav-list a:hover {
	background-color: maroon;
}
#nav-list a {
	color: yellow;
}
#nav-list a span {
	margin-right: 10px;
}
#collapsable-nav {
	background-color: green;
}
section {
	background-color: gray;
	height: 500px;
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: bold;
}
div>h1 {
	font-weight: bold;
	opacity: .6;
	margin-bottom: 40px;
}
